<div class="col-md-12 ibox">

  <form [formGroup]="form" name="form">
    <div class="ibox-head">
      <div class="ibox-title">Medicine View</div>
    </div>

    <div class="ibox-body">


      <ul class="nav nav-tabs" role="tablist">

        <li class="mr-3 nav-item" role="presentation">
          <a aria-controls="Prescription" class="nav-link" data-toggle="tab" href="#Section4"
             role="tab">Medicine</a>
        </li>
      </ul>

      <div class="tab-content">


        <div class="tab-pane fade" id="Section4" role="tabpanel">


          <table class="table">
            <thead class="thead-light">
            <tr>
              <th scope="col">Medicine Name</th>
              <th scope="col">Drug Type</th>
              <th scope="col">Drug Strength</th>
              <th scope="col">Drug Dose</th>
              <th scope="col">Drug Duration</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let createMedicine of createMedicinePrescription">
              <td>{{ createMedicine.name }}</td>
              <td>{{ createMedicine.medicineType }}</td>
              <td>{{ createMedicine.medicineStrength }}</td>
              <td>{{ createMedicine.instruction }}</td>
              <td>{{ createMedicine.noOfTime }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </form>
</div>
