<div class="navbar navbar-expand-lg topnav">

  <a [routerLink]="['/dashboard']" class="navbar-brand">
    <i class="fas fa-dragon"></i>&nbsp;&nbsp;<span><b>Business ONE</b></span>
  </a>

  <div class="nav ">

    <div class="collapse navbar-collapse">

      <div class="navbar-nav mr-auto"></div>

      <div class="my-2 my-lg-0 notification">
        <a class="white-link" href="#"><i class="fas fa-bell"></i></a>
      </div>

      <div class="dropdown show my-2 my-lg-0">

        <a class="white-link" data-toggle="dropdown" href="#">

          <div aria-expanded="false" class="username dropdown-toggle">
            <img height="20px" src="{{ profilePicture28x28pxUrl }}" width="20px">
          </div>
        </a>

        <div class="dropdown-menu dropdown-menu-right">

          <a class="dropdown-item" href="#">
            <span class="hidden-sm-down">&nbsp;{{ displayName }}</span>
          </a>

          <div class="dropdown-divider"></div>

          <a class="dropdown-item" data-target="#themeChooserModal" data-toggle="modal" href="#">
            <i class="fa fa-hashtag"></i> <span class="hidden-sm-down">&nbsp;Change theme</span>
          </a>

          <a class="dropdown-item" data-target="#languageChooserModal" data-toggle="modal" href="#">
            <i class="fa fa-language"></i> <span class="hidden-sm-down">&nbsp;Change language</span>
          </a>


          <a class="dropdown-item" href="#">
            <i class="fa fa-cog"></i> <span class="hidden-sm-down">&nbsp;Settings</span>
          </a>

          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="#">
            <i class="fa fa-life-ring text-info"></i> <span class="hidden-sm-down">&nbsp;Support</span>
          </a>

          <div class="dropdown-divider"></div>

          <a [routerLink]="['/doctorpoint/login']" class="dropdown-item">
            <i class="fa fa-sign-out text-danger"></i> <span class="hidden-sm-down">&nbsp;Sign Out</span>
          </a>

        </div>
      </div>


    </div>


  </div>

</div>


<div aria-labelledby="themeChooserModalLabel" class="modal fade" id="themeChooserModal" role="dialog" tabindex="-1">

  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="themeChooserModalLabel">Change Theme</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form>
          <div class="form-group">

            <div class="currentTheme">
              <label class="col-form-label" for="currentThemeName">Current theme: </label>
              <input class="form-control-plaintext font-weight-bold" id="currentThemeName" readonly
                     value="Rebecca Purple">
            </div>

            <label for="themeChooserDropdown">Choose theme: </label>
            <select class="form-control" id="themeChooserDropdown">
              <option>Rebecca Purple</option>
              <option>Dark Slate Blue</option>
              <option>Orange Red</option>
            </select>
          </div>
        </form>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
        <button class="btn btn-primary" type="button">Save changes</button>
      </div>

    </div>
  </div>
</div>


<div aria-labelledby="languageChooserModalLabel" class="modal fade" id="languageChooserModal" role="dialog"
     tabindex="-1">

  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="languageChooserModalLabel">Change Language</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form>
          <div class="form-group">

            <div class="currentLanguage">
              <label class="col-form-label" for="currentLanguageName">Current language: </label>
              <input class="form-control-plaintext font-weight-bold" id="currentLanguageName" readonly
                     value="US English">
            </div>

            <label for="languageChooserDropdown">Choose language: </label>
            <select class="form-control" id="languageChooserDropdown">
              <option>US English</option>
              <option>UK English</option>
              <option>Bangla</option>
            </select>
          </div>
        </form>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
        <button class="btn btn-primary" type="button">Save changes</button>
      </div>

    </div>
  </div>
</div>
