<div class="col-md-8 ibox">
  <div class="ibox-head">
    <div class="ibox-title">User List</div>
    <a [routerLink]="['create']">Add User</a>
  </div>
  <div class="ibox-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Display Name</th>
        <th scope="col">Roles</th>
        <th scope="col">Enabled</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.displayName }}</td>
        <td>{{ user.roles }}</td>
        <td>{{ user.enabled }}</td>
        <td>
          <a [routerLink]="[user.id]">Edit</a> |
          <a [routerLink]="[user.id]">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>

    <div>Showing {{ itemFrom }} to {{ itemTo }} of {{ totalElements }} entries</div>

  </div>
</div>


