<div class="col-md-8 ibox">

  <div class="ibox-head">
    <div class="ibox-title">Create Appointment</div>
    <ul class="nav" role="tablist">
      <li class="text-right">
        <a href="#rx" aria-controls="messages" role="tab" data-toggle="tab"
           class="-font-awesome font-weight-bold text-primary" (click)="onClickPrescription()">Prescription-list</a>
      </li>
    </ul>

  </div>
  <form name="form" class="form-horizontal" [formGroup]="form">
    <div class="ibox-body">
      <ul class="nav nav-tabs" role="tablist">
        <li class="mr-3" role="presentation"><a href="#Section1" aria-controls="profile" role="tab" data-toggle="tab"
                                                class="-font-awesome font-weight-bold text-secondary">Chief Complain</a>
        </li>
        <li class="mr-3" role="presentation"><a href="#Section2" aria-controls="messages" role="tab" data-toggle="tab"
                                                class="-font-awesome font-weight-bold text-secondary">On Examination</a>
        </li>
        <li class="mr-3" role="presentation"><a href="#Section3" aria-controls="profile" role="tab" data-toggle="tab"
                                                class="-font-awesome font-weight-bold text-secondary">Diginist</a></li>
        <li class="mr-3" role="presentation"><a href="#rx" aria-controls="messages" role="tab" data-toggle="tab"
                                                class="-font-awesome font-weight-bold text-secondary">Prescription</a>
        </li>
      </ul>

      <div class="form-group mb-4 row">
        <label class="col-sm-0 col-form-label"></label>
        <div class="col-sm-12">
          <!-- Tab panes -->
          <div class="tab-content border-0 tabs">
            <div role="tab" class="tab-pane fade in active" id="Section1">

                      <textarea class="form-control h-25" formControlName="complain" placeholder="Chief Complain"
                                [ngClass]="{ 'is-invalid': submitted && f.complain.errors }"></textarea>
              <div *ngIf="submitted && f.complain.errors" class="invalid-feedback">
                <div *ngIf="f.complain.errors.required">Name is required</div>
              </div>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section2">

                      <textarea class="w-100 h-25 mb-3 form-control" formControlName="parameters"
                                placeholder="Parameters"></textarea>
              <textarea class="w-100 h-25 form-control" formControlName="remarks"
                        placeholder="Remarks"></textarea>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section3">

                      <textarea class="w-100 h-15 mt-auto form-control" formControlName="dentalHistory"
                                placeholder="Medical & Dental History"></textarea>
              <textarea class="w-100 h-15 mt-3 form-control" formControlName="vaccinationHistory"
                        placeholder="Drug & Vaccination History"></textarea>
              <textarea class="w-100 h-15 mt-3 form-control" formControlName="investigation"
                        placeholder="Investigation"></textarea>
              <textarea class="w-100 h-15 mt-3 form-control" formControlName="radiological"
                        placeholder="Rediological/Clinical Finding"></textarea>
              <textarea class="w-100 h-15 mt-3 form-control" formControlName="planning"
                        placeholder="Final Diagnosis & Treatment Planning"></textarea>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="rx">
              <h3 class="h5-responsive"><span>&#8478;</span></h3>
              <div class="row mb-2 mt-4">
                <div class="col-6">
                  <select class="custom-select px-1" formControlName="drugType" class="form-control">
                    <option selected>Please select drug Type</option>
                    <option value="Tab">Tab</option>
                    <option value="Cap">Cap</option>
                    <option value="Liquid">Liquid</option>
                  </select>
                </div>
                <div class="col-6">
                  <input class="form-control" formControlName="medicineName" rows="3" placeholder="medicine name">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <select class="custom-select px-1" formControlName="drugStrength" class="form-control">
                    <option selected>Please select drug Strength</option>
                    <option value="10">10mg</option>
                    <option value="250">250mg</option>
                    <option value="500">500mg</option>
                    <option value="40">40mg</option>
                  </select>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col">
                  <div class="form-group mb-1">
                    <select class="custom-select px-1" formControlName="drugDose" class="form-control">
                      <option selected>Please select drug Dose</option>
                      <option value="1+1+1">1+1+1</option>
                      <option value="1+1+0">1+1+0</option>
                      <option value="1+0+1">1+0+1</option>
                      <option value="1+0+0">1+0+0</option>
                      <option value="0+1+1">0+1+1</option>
                      <option value="0+1+0">0+1+0</option>
                      <option value="0+0+1">0+0+1</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group mb-1">
                    <select class="custom-select px-1" formControlName="drugDuration" class="form-control">
                      <option selected>Please select drug Duration</option>
                      <option value="1">1 day</option>
                      <option value="3">3 days</option>
                      <option value="7">7 days</option>
                      <option value="10">10 days</option>
                      <option value="15">15 days</option>
                      <option value="20">20 days</option>
                      <option value="30">30 days</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ibox-footer row">
      <div class="col-sm-10 ml-sm-auto">
        <button class="btn btn-primary mr-2" (click)="onSubmit()">Submit</button>
        <button class="btn btn-secondary">Cancel</button>
      </div>
    </div>
  </form>
</div>
