<div class="col-md-12 ibox">

  <div class="ibox-head">
    <div class="ibox-title">Create Prescription</div>
    <div>
      <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>&nbsp;
      <button class="btn btn-primary" (click)="onSubmit()">Save</button>
    </div>
  </div>

  <form name="form" [formGroup]="form">

    <div class="ibox-body" id="ff1">

      <ul class="nav nav-tabs" role="tablist">
        <li class="mr-3 nav-item" role="presentation">
          <a href="#patientInfo" aria-controls="Template" role="tab" data-toggle="tab"
             class="nav-link active">Patient Info</a>
        </li>
        <li class="mr-3 nav-item" role="presentation">
          <a href="#Section0" aria-controls="Template" role="tab" data-toggle="tab"
             class="nav-link">Select Template</a>
        </li>
        <li class="mr-3 nav-item" role="presentation">
          <a href="#Section1" aria-controls="profile" role="tab" data-toggle="tab"
             class="nav-link">Chief Complain</a>
        </li>
        <li class="mr-3 nav-item" role="presentation">
          <a href="#Section2" aria-controls="messages" role="tab" data-toggle="tab"
             class="nav-link">On Examination</a>
        </li>
        <li class="mr-3 nav-item" role="presentation">
          <a href="#Section3" aria-controls="Diginist" role="tab" data-toggle="tab"
             class="nav-link">Diginist</a></li>
        <li class="mr-3 nav-item" role="presentation">
          <a href="#Section4" aria-controls="Prescription" role="tab" data-toggle="tab"
             class="nav-link">Prescription</a>
        </li>
        <li class="mr-3 nav-item" role="presentation">
          <a href="#Section5" aria-controls="Prescription" role="tab" data-toggle="tab"
             class="nav-link">Next Visit Day </a>
        </li>
      </ul>

      <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade active show" id="patientInfo">

          <div *ngIf="show_dialog">
            <div class="form-group mb-4 row mt-4 font-weight-normal">
              <label class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="text" formControlName="patientName" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.patientName.errors }"/>
                <div *ngIf="submitted && f.patientName.errors" class="invalid-feedback">
                  <div *ngIf="f.patientName.errors.required">Patient Name is required</div>
                </div>
              </div>
            </div>

            <div class="form-group mb-4 row mt-4 font-weight-normal">
              <label class="col-sm-2 col-form-label">Phone number</label>
              <div class="col-sm-9">
                <input type="text" formControlName="phoneNumber" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
                </div>
              </div>
            </div>

            <div class="form-group mb-4 row mt-4 font-weight-normal">
              <label class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-9">
                <input type="text" formControlName="address" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                  <div *ngIf="f.address.errors.required">Address is required</div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="profileView">
            <div class="form-group mb-4 row mt-4">
              <label class="col-sm-3 col-form-label">Name :</label>
              <div class="col-sm-9">
                <li class="list-group m-2">
                  <p><span class="badge">{{patientName}}</span></p>
                </li>
              </div>
            </div>

            <div class="form-group mb-4 row">
              <label class="col-sm-3 col-form-label">Phone no :</label>
              <div class="col-sm-9">
                <li class="list-group m-2">
                  <p><span class="badge">{{phoneNumber}}</span></p>
                </li>
              </div>
            </div>

            <div class="form-group mb-4 row">
              <label class="col-sm-3 col-form-label">Address :</label>
              <div class="col-sm-9">
                <li class="list-group m-2">
                  <p><span class="badge">{{address}}</span></p>
                </li>
              </div>
            </div>
            <div>
              <ul class="input-group mb-3">
                <a href="#Previousprescription" aria-controls="Previous prescription" role="tab" data-toggle="tab"
                   class="nav-link" (click)="previousPrescriptionView()">Previous prescription>> </a>
              </ul>
            </div>
            <div role="tab" class="tab-pane fade" id="Previousprescription">
              <div class="form-group mb-4 row mt-4 font-weight-normal">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Chief Complain</th>
                    <th scope="col">Options</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let prescription of prescriptionListin">
                    <td style="width: 30%">{{ prescription.submitDate }}</td>
                    <td style="width: 50%">{{ prescription.chiefComplain }}</td>
                    <td><a [routerLink]="[prescription.id]" (click)="onPrescriptionView(prescription.id)">Details</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!--  <div class="text-center">
                    <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
                  </div>-->
              </div>
            </div>
          </div>
        </div>


        <div role="tabpanel" class="tab-pane fade" id="Section0">
          <div class="list-group mt-3">
            <div class="input-group mb-3" *ngFor="let t of templateList">
              <input type="button" (click)="selectTemplate(t.id)"
                     class="list-group-item list-group-item-action col-md-10"
                     [ngClass]="{ 'font-weight-bold': selectedTemplateId == t.id }"
                     [value]="t.templateName">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="editTemplate(t.id)" type="button">Edit</button>
                <button class="btn btn-outline-danger" (click)="deleteTemplate(t.id)" type="button">Delete</button>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="Section1">
          <div class="form-group mb-4 row mt-4 font-weight-normal">
            <label class="col-sm-2 col-form-label">Chief Complain</label>
            <div class="col-sm-10">
              <textarea type="text" formControlName="chiefComplain" class="form-control"
                        value="{{selectedTemplate?.chiefComplain}}"
                        [ngClass]="{ 'is-invalid': submitted && f.chiefComplain.errors }"></textarea>
              <div *ngIf="submitted && f.chiefComplain.errors" class="invalid-feedback">
                <div *ngIf="f.chiefComplain.errors.required">Chief Complain is required</div>
              </div>
            </div>
          </div>
        </div>


        <div role="tabpanel" class="tab-pane fade" id="Section2">

          <div class="form-group mb-4 row mt-4 font-weight-normal">
            <label class="col-sm-2 col-form-label">Parameters</label>
            <div class="col-sm-10">
              <textarea type="text" formControlName="parameters" class="form-control"
                        value="{{ selectedTemplate?.parameters }}"
                        [ngClass]="{ 'is-invalid': submitted && f.parameters.errors }"></textarea>
              <div *ngIf="submitted && f.parameters.errors" class="invalid-feedback">
                <div *ngIf="f.parameters.errors.required">Parameters is required</div>
              </div>
            </div>
          </div>
          <div class="form-group mb-4 row font-weight-normal">
            <label class="col-sm-2 col-form-label">Remarks</label>
            <div class="col-sm-10">
              <textarea type="text" formControlName="remarks" class="form-control"
                        value="{{ selectedTemplate?.remarks }}"
                        [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }"></textarea>
              <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                <div *ngIf="f.remarks.errors.required">Remarks is required</div>
              </div>
            </div>
          </div>

        </div>

        <div role="tabpanel" class="tab-pane fade" id="Section3">

          <div class="form-group mb-4 row mt-4 font-weight-normal">
            <label class="col-sm-3 col-form-label">Medical & Dental History</label>
            <div class="col-sm-9">
              <textarea type="text" formControlName="dentalHistory" class="form-control"
                        value="{{ selectedTemplate?.dentalHistory }}"
                        [ngClass]="{ 'is-invalid': submitted && f.dentalHistory.errors }"></textarea>
              <div *ngIf="submitted && f.dentalHistory.errors" class="invalid-feedback">
                <div *ngIf="f.dentalHistory.errors.required">Medical & Dental History is required</div>
              </div>
            </div>
          </div>

          <div class="form-group mb-4 row font-weight-normal">
            <label class="col-sm-3 col-form-label">Drug & Vaccination History</label>
            <div class="col-sm-9">
              <textarea type="text" formControlName="vaccinationHistory" class="form-control"
                        value="{{ selectedTemplate?.vaccinationHistory }}"
                        [ngClass]="{ 'is-invalid': submitted && f.vaccinationHistory.errors }"></textarea>
              <div *ngIf="submitted && f.vaccinationHistory.errors" class="invalid-feedback">
                <div *ngIf="f.vaccinationHistory.errors.required">Drug & Vaccination History is required</div>
              </div>
            </div>
          </div>

          <div class="form-group mb-4 row font-weight-normal">
            <label class="col-sm-3 col-form-label">Investigation History</label>
            <div class="col-sm-9">
              <textarea type="text" formControlName="investigation" class="form-control"
                        value="{{ selectedTemplate?.vaccinationHistory }}"
                        [ngClass]="{ 'is-invalid': submitted && f.investigation.errors }"></textarea>
              <div *ngIf="submitted && f.investigation.errors" class="invalid-feedback">
                <div *ngIf="f.investigation.errors.required">Investigation is required</div>
              </div>
            </div>
          </div>

          <div class="form-group mb-4 row font-weight-normal">
            <label class="col-sm-3 col-form-label">Rediological/Clinical Finding</label>
            <div class="col-sm-9">
              <textarea type="text" formControlName="radiological" class="form-control"
                        value="{{ selectedTemplate?.radiological }}"
                        [ngClass]="{ 'is-invalid': submitted && f.radiological.errors }"></textarea>
              <div *ngIf="submitted && f.radiological.errors" class="invalid-feedback">
                <div *ngIf="f.radiological.errors.required">Rediological/Clinical Finding is required</div>
              </div>
            </div>
          </div>

          <div class="form-group mb-4 row font-weight-normal">
            <label class="col-sm-3 col-form-label">Final Diagnosis & Treatment Planning</label>
            <div class="col-sm-9">
              <textarea type="text" formControlName="planning" class="form-control"
                        value="{{ selectedTemplate?.planning }}"
                        [ngClass]="{ 'is-invalid': submitted && f.planning.errors }"></textarea>
              <div *ngIf="submitted && f.planning.errors" class="invalid-feedback">
                <div *ngIf="f.planning.errors.required">Rediological/Clinical Finding is required</div>
              </div>
            </div>
          </div>

        </div>

        <div role="tabpanel" class="tab-pane fade" id="Section4">

          <div class="row mb-2 mt-4">

            <div class="col-3">
              <input class="form-control" formControlName="medicineName" rows="3" placeholder="medicine name">
            </div>

            <div class="col-2">
              <select class="custom-select px-1" formControlName="drugType" class="form-control">
                <option value="Tab">Tab</option>
                <option value="Cap">Cap</option>
                <option value="Liquid">Liquid</option>
              </select>
            </div>

            <div class="col-2">
              <select class="custom-select px-1" formControlName="drugStrength" class="form-control">
                <option value="10">10mg</option>
                <option value="250">250mg</option>
                <option value="500">500mg</option>
                <option value="40">40mg</option>
              </select>
            </div>

            <div class="col-2">
              <div class="form-group mb-1">
                <select class="custom-select px-1" formControlName="drugDose" class="form-control">
                  <option value="1+1+1">1+1+1</option>
                  <option value="1+1+0">1+1+0</option>
                  <option value="1+0+1">1+0+1</option>
                  <option value="1+0+0">1+0+0</option>
                  <option value="0+1+1">0+1+1</option>
                  <option value="0+1+0">0+1+0</option>
                  <option value="0+0+1">0+0+1</option>
                </select>
              </div>
            </div>

            <div class="col-2">
              <div class="form-group mb-1">
                <select class="custom-select px-1" formControlName="drugDuration" class="form-control">
                  <option value="1">1 day</option>
                  <option value="3">3 days</option>
                  <option value="7">7 days</option>
                  <option value="10">10 days</option>
                  <option value="15">15 days</option>
                  <option value="20">20 days</option>
                  <option value="30">30 days</option>
                </select>
              </div>
            </div>

            <div class="col-1">
              <div class="form-group mb-1">
                <button class="btn btn-secondary float-right" (click)="addMedicine()">Add</button>
              </div>
            </div>

          </div>

          <br>

          <table class="table">
            <thead class="thead-light">
            <tr>
              <th scope="col">Medicine Name</th>
              <th scope="col">Drug Type</th>
              <th scope="col">Drug Strength</th>
              <th scope="col">Drug Dose</th>
              <th scope="col">Drug Duration</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medicine of medicineList">
              <td>{{ medicine.medicineName }}</td>
              <td>{{ medicine.drugType }}</td>
              <td>{{ medicine.drugStrength }}</td>
              <td>{{ medicine.drugDose }}</td>
              <td>{{ medicine.drugDuration }}</td>
              <button class="btn btn-outline-danger mt-2" type="button">Delete</button>
            </tr>
            </tbody>
          </table>

        </div>

        <div role="tabpanel" class="tab-pane fade" id="Section5">
          <div class="form-group mb-4 row mt-4 font-weight-normal">
            <label class="col-sm-2 col-form-label">Date :</label>
            <div class="col-sm-10">
              <input id="dateff" formControlName="date" (ngModelChange)="dateFetching()"
                     [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" class="form-control">
              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
