<div class="dash-navbar-left">

  <div class="list-group panel">

    <a aria-expanded="false" class="list-group-item collapsed" data-parent="#dentistmanagement"
       data-toggle="collapse" href="#dentistmanagement">
      <i class="fas fa-user-md fa-fw"></i> <span class="hidden-sm-down">&nbsp;Patient</span>
    </a>

    <div class="collapse" id="dentistmanagement">

      <a [routerLink]="['/patient/create-appointment']" class="list-group-item"
         data-parent="#dentistmanagement" routerLinkActive="active">
        <i class="far fa-calendar-check fa-fw"></i> <span class="hidden-sm-down">&nbsp;Create Appointment</span></a>


      <a [routerLink]="['/patient/show-prescription-list']" class="list-group-item"
         data-parent="#dentistmanagement" routerLinkActive="active">
        <i class="fas fa-file-medical fa-fw"></i> <span class="hidden-sm-down">&nbsp;Prescription list</span></a>


      <a [routerLink]="['/patient/show-appointment-list']" class="list-group-item"
         data-parent="#dentistmanagement" routerLinkActive="active">
        <i class="fas fa-file-medical fa-fw"></i> <span class="hidden-sm-down">&nbsp;Appointment list</span></a>


    </div>


    <a [routerLink]="['/settings']" class="list-group-item collapsed"
       data-parent="#sidebar" routerLinkActive="active">
      <i class="fa fa-cog fa-fw"></i> <span class="hidden-sm-down">&nbsp;Settings</span>
    </a>


  </div>

</div>
