<div class="col-md-9 ibox">
  <div class="ibox-head">
    <div class="col-md-5 ibox-title">Prescription List</div>
    <div class="input-group col-md-4">
      <span class="input-group-prepend">
        <div class="input-group-text bg-transparent border-right-0"><i class="fa fa-search"></i></div>
      </span>
      <input type="text" [(ngModel)]="searchText" autocomplete="on" placeholder="Name / Phone No."
             class="form-control"/>
    </div>
  </div>
  <div class="ibox-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Patient Name</th>
        <th scope="col">Date</th>
        <th scope="col">Chief Complain</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prescriptionlist of prescriptionListin | filter:searchText">
        <td style="width: 30%">{{ prescriptionlist.patientName }}</td>
        <td style="width: 30%">{{ prescriptionlist.submitDate }}</td>
        <td style="width: 50%">{{ prescriptionlist.chiefComplain }}</td>
        <td><a [routerLink]="[prescriptionlist.id]" (click)="onPrescriptionView()">View</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>Showing {{ itemFrom }} to {{ itemTo }} of {{ totalElements }} entries</div>
</div>
