<div class="col-md-6 ibox">
  <div class="ibox-head">
    <div class="ibox-title">Prescription List</div>
  </div>
  <div class="ibox-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Prescriptions Id</th>
        <th scope="col">Patient Name</th>
        <th scope="col">Chief Complain</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prescriptionlist of prescription">
        <td style="width: 50%">{{ prescriptionlist.id }}</td>
        <td style="width: 10%">{{ prescriptionlist.patientName }}</td>
        <td style="width: 20%">{{ prescriptionlist.chiefComplain }}</td>
        <td>
          <a [routerLink]="[prescriptionlist.id]" (click)="onPrescriptionView()">View</a> |
          <a [routerLink]="[prescriptionlist.id ]">Delete</a>

        </td>

      </tr>
      </tbody>
    </table>
  </div>
  <!--<div>Showing {{ itemFrom }} to {{ itemTo }} of {{ totalElements }} entries</div>-->
</div>

