.main-panel,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #edecff;
}

.navbar-brand {
    background: #483d8b;
    color: #FFF;
}

.navbar-brand:hover {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.dash-navbar-left a.list-group-item,
.dash-navbar-left-icon-only a.list-group-item,
.nav .list-inline-item {
    color: #fff;
}

.card {
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
}


.topnav > .nav,
.dash-navbar-left,
.dash-navbar-left .list-group-item,
.dash-navbar-left-icon-only,
.dash-navbar-left-icon-only .list-group-item {
    background-color: #544996;
}

.nav .white-link {
    color: #ffffff;
}

@media only screen and (min-width : 992px) {
    .navbar-brand {
        background-color: #544996;
    }
}
