<div class="col-md-8 ibox">

  <div class="ibox-head">
    <div class="ibox-title">Prescription View</div>


  </div>
  <div class="ibox-body">

    <ul class="nav nav-tabs" role="tablist">
      <li class="mr-5" role="presentation"><a href="#Section1" aria-controls="profile" role="tab" data-toggle="tab"
                                              class="-font-awesome font-weight-bold text-secondary">Chief Complain</a>
      </li>
      <li class="mr-5" role="presentation"><a href="#Section2" aria-controls="messages" role="tab" data-toggle="tab"
                                              class="-font-awesome font-weight-bold text-secondary">On Examination</a>
      </li>
      <li class="mr-5" role="presentation"><a href="#Section3" aria-controls="Diginist" role="tab" data-toggle="tab"
                                              class="-font-awesome font-weight-bold text-secondary">Diginist</a></li>
      <li class="mr-5" role="presentation"><a href="#Section4" aria-controls="Prescription" role="tab"
                                              data-toggle="tab"
                                              class="-font-awesome font-weight-bold text-secondary">Prescription</a>
      </li>
    </ul>

    <div class="form-group mb-4 row">
      <label class="col-sm-0 col-form-label"></label>
      <div class="col-sm-12">
        <!-- Tab panes -->
        <div class="tab-content border-0 tabs">


          <div role="tab" class="tab-pane fade n active" id="Section1">
            <div class="form-group mb-4 row mt-5">
              <label class="col-sm-3 col-form-label">Chief Complain</label>
              <div class="col-sm-9">
                <li class="list-group m-2" *ngFor="let prescriptionElements of prescriptions">
                  <p><textarea type="text" class="form-control">{{ prescriptionElements.chiefComplain}}</textarea></p>
                </li>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="Section2">
            <div class="form-group mb-4 row mt-5">
              <label class="col-sm-3 col-form-label">Parameters</label>
              <div class="col-sm-9">
                <li class="list-group m-2" *ngFor="let prescriptionElements of prescriptions">
                  <p><textarea type="text" class="form-control">{{ prescriptionElements.parameters}}</textarea></p>
              </div>
            </div>

            <div class="form-group mb-4 row mt-5">
              <label class="col-sm-3 col-form-label">Remarks</label>
              <div class="col-sm-9">
                <li class="list-group m-2" *ngFor="let prescriptionElements of prescriptions">
                  <p><textarea type="text" class="form-control">{{ prescriptionElements.remarks}}</textarea></p>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="Section3">
            <div class="form-group mb-4 row mt-5">
              <label class="col-sm-3 col-form-label">Medical & Dental History</label>
              <div class="col-sm-9">
                <li class="list-group m-2" *ngFor="let prescriptionElements of prescriptions">
                  <p><textarea type="text" class="form-control">{{ prescriptionElements.dentalHistory}}</textarea></p>
              </div>
            </div>
            <div class="form-group mb-4 row mt-5">
              <label class="col-sm-3 col-form-label">Drug & Vaccination History</label>
              <div class="col-sm-9">
                <li class="list-group m-2" *ngFor="let prescriptionElements of prescriptions">
                  <p><textarea type="text" class="form-control">{{ prescriptionElements.vaccinationHistory}}</textarea>
                  </p>
              </div>
            </div>

            <div class="form-group mb-4 row mt-5">
              <label class="col-sm-3 col-form-label">Investigation History</label>
              <div class="col-sm-9">
                <li class="list-group m-2" *ngFor="let prescriptionElements of prescriptions">
                  <p><textarea type="text" class="form-control">{{ prescriptionElements.investigation}}</textarea></p>
              </div>
            </div>
            <div class="form-group mb-4 row mt-5">
              <label class="col-sm-3 col-form-label">Radiological/Clinical Finding</label>
              <div class="col-sm-9">
                <li class="list-group m-2" *ngFor="let prescriptionElements of prescriptions">
                  <p><textarea type="text" class="form-control">{{ prescriptionElements.radiological}}</textarea></p>
              </div>
            </div>

            <div class="form-group mb-4 row mt-5">
              <label class="col-sm-3 col-form-label">Final Diagnosis & Treatment Planning</label>
              <div class="col-sm-9">
                <li class="list-group m-2" *ngFor="let prescriptionElements of prescriptions">
                  <p><textarea type="text" class="form-control">{{ prescriptionElements.planning }}</textarea></p>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Section4">
            <div class="card" >
              <div class="card-body">
                <div>
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">Drug Type</th>
                      <th scope="col">Medicine Name</th>
                      <th scope="col">Drug Strength</th>
                      <th scope="col">Drug Dose</th>
                      <th scope="col">Drug Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let prescriptionElements of prescrip">
                      <td style="width: 20%">{{ prescriptionElements.drugType }}</td>
                      <td style="width: 20%">{{ prescriptionElements.medicineName }}</td>
                      <td style="width: 20%">{{ prescriptionElements.drugStrength }}</td>
                      <td style="width: 20%">{{ prescriptionElements.drugDose }}</td>
                      <td style="width: 20%">{{ prescriptionElements.drugDuration }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
