
@media only screen and (min-width : 992px) {
    .dash-navbar-left { display: none !important; }
    .dash-navbar-left-icon-only { display: block !important; }
    #chumbok-ui .main-panel {
        width: calc(100% - 60px);
    }
}

@media only screen and (min-width : 1200px) {
    .dash-navbar-left { display: block !important; }
    .dash-navbar-left-icon-only { display: none !important; }
    #chumbok-ui .main-panel {
        width: calc(100% - 260px);
    }
}
