<div class="col-md-9 ibox">
  <div class="ibox-head">
    <div class="col-md-5 ibox-title">Appointment List</div>
    <div class="input-group col-md-4">
      <span class="input-group-prepend">
        <div class="input-group-text bg-transparent border-right-0"><i class="fa fa-search"></i></div>
      </span>
      <input type="text" [(ngModel)]="searchText" autocomplete="on" placeholder="Name / Phone No."
             class="form-control"/>
    </div>
  </div>
  <div class="ibox-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Patient Name</th>
        <th scope="col">Date</th>
        <th scope="col">Email</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let appointmentlist of appointmentList | filter:searchText | paginate: config">
        <td style="width: 30%">{{ appointmentlist.attendees[1].name }}</td>
        <td style="width: 30%">{{ appointmentlist.startDateTime }}</td>
        <td style="width: 50%">{{ appointmentlist.attendees[1].email }}</td>
        <td><a [routerLink]="[appointmentlist.id]" (click)="onAppointmentEdit(appointmentlist.id)">Edit</a></td>
        <td><a [routerLink]="[appointmentlist.id]" (click)="onAppointmentDelete(appointmentlist.id)">Cancel</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="ibox-footer">
    <div class="text-center">
      <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
    </div>

  </div>
</div>
