<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
  <meta name="viewport" content="width=device-width"/>

  <title>{{title}}</title>

  <base href="/">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">

  <!--  Dashboard CSS    -->
  <link href="../../../../../assets/css/chumbok-base.css" rel="stylesheet"/>
  <link href="../../../../../assets/css/media-queries.css" rel="stylesheet"/>
  <link href="../../../../../assets/css/default-theme.css" rel="stylesheet"/>

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="../../../../../assets/image/apple-touch-icon.png">
  <link rel="icon" href="../../../../../assets/image/favicon.ico">

</head>
