<div class="col-md-8 ibox">

  <div class="ibox-head">
    <div class="ibox-title">Create Appointment</div>
  </div>


  <form name="form" class="form-horizontal" [formGroup]="form">

    <div class="ibox-body">

      <div class="form-group mb-4 row">
        <label class="col-sm-3 col-form-label">Phone number</label>
        <div class="col-sm-9">
          <input type="text" formControlName="phoneNumber" class="form-control"
                 placeholder="Type number to search"
                 [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
          <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
            <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
          </div>
        </div>
      </div>

      <div class="form-group mb-4 row">
        <label class="col-sm-3 col-form-label">Patient Name</label>
        <div class="col-sm-9">
          <input type="text" formControlName="patientName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.patientName.errors }" />
          <div *ngIf="submitted && f.patientName.errors" class="invalid-feedback">
            <div *ngIf="f.patientName.errors.required">Patient Name is required</div>
          </div>
        </div>
      </div>

      <div class="form-group mb-4 row">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-9">
          <input type="text" formControlName="address" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address is required</div>
          </div>
        </div>
      </div>

      <div class="form-group mb-4 row">
        <label class="col-sm-3 col-form-label">Date</label>
        <div class="col-sm-9">
          <input formControlName="date" [(ngModel)]="dateTime1"
                 [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" class="form-control">
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </div>
      </div>

      <div class="form-group mb-4 row">
        <label class="col-sm-3 col-form-label">Free Slots</label>
        <div class="col-sm-9">
          <input type="button" class=" btn btn-secondary" (click)="onTimes()" value="10:15">&nbsp;
          <input type="button" class=" btn btn-secondary" value="10:30">
        </div>
      </div>

    </div>

    <div class="ibox-footer row">
      <div class="col-sm-12 text-center">
        <button class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-secondary">Cancel</button>
      </div>
    </div>

  </form>
</div>
