<div class="col-md-8 ibox">
  <div class="ibox-head">
    <div class="ibox-title">Create Appointment</div>
  </div>
  <form name="form" class="form-horizontal" [formGroup]="form">

    <div class="ibox-body">
      <div class="form-group mb-4 row">
        <label class="col-sm-3 col-form-label">Phone number</label>
        <div class="col-sm-9">
          <input type="text" placeholder="Search by phone number" aria-label="State" [matAutocomplete]="auto"
                 [(ngModel)]="searchText" autocomplete="on"
                 [formControl]="stateCtrl"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stateCtrl.errors }"/>
          <div *ngIf="submitted && f.stateCtrl.errors" class="invalid-feedback">
            <div *ngIf="f.stateCtrl.errors.required">Phone number is required</div>
          </div>
        </div>
      </div>
      <div class="form-group mb-4 row">
        <label class="col-sm-3 col-form-label">Patient Name</label>
        <div class="col-sm-9">
          <input type="text" formControlName="patientName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.patientName.errors }"/>
          <div *ngIf="submitted && f.patientName.errors" class="invalid-feedback">
            <div *ngIf="f.patientName.errors.required">Patient Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-group mb-4 row">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-9">
          <input type="text" formControlName="address" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address is required</div>
          </div>
        </div>
      </div>

      <div class="form-group mb-4 row">
        <label class="col-sm-3 col-form-label">Date</label>
        <div class="col-sm-9 input-group-prepend">
          <input id="dateff" formControlName="date" (ngModelChange)="setDateFetchFreeTimeSlots()"
                 [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" class="form-control">
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </div>
      </div>
      <div class="form-group mb-4 row">
        <label class="col-sm-3 col-form-label">Free Slots</label>
        <div class="col-sm-9" class="btn-group" role="group" aria-label="Basic example"
             *ngFor="let timeSlotArrayValue of timeSlotArray;">
          <input type="submit" class=" btn btn-secondary ml-1" [formControl]="getFreeTime"
                 (click)="getFreeSlotsValue(timeSlotArrayValue)" [value]="timeSlotArrayValue">&nbsp;
        </div>
      </div>
    </div>
    <div class="ibox-footer row">
      <div class="col-sm-12 text-center">
        <button class="btn btn-primary mr-2" (click)="onSubmit()">Submit</button>
        <button class="btn btn-secondary">Cancel</button>
      </div>
    </div>
  </form>
</div>
<div>

  <form class="example-form">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of appoinrmentList | filter:searchText">
        <div class="card col-sm-9">
          <div class="card-body">
            <small>{{state.nameP}}</small>
            |
            <span>{{state.phoneno}}</span>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>

  </form>
</div>

