<div class="container h-100 ">

  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">

      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Login</div>
        </div>
        <div class="ibox-body">

          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <div class="form-group">
              <label for="username">Phone No</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control"
                     formControlName="username" id="username"
                     type="text"/>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control"
                     formControlName="password" id="password"
                     type="password"/>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">Login</button>
              <a [routerLink]="['/doctors/signUp']" class="btn btn-link">Register</a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>
